.navbar-ctn {
    height: 10%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links-ctn {
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    display: flex;
}

.link-btn {
    text-decoration: none;
    color: white;
}